html, body, #landing-page {
    height: 100%;
}

/* Landing page and navbar */
#landing-page {
    background-image: url("images/bg-masthead.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: grayscale(20%);
    font-family: 'Arvo', serif;
}

#landing-page .landing-page-text {
    color: #586d91;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

hr {
    width: 10%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header .navbar-nav .nav-item .nav-link {
    color: #ffffff;
}

.navbar .navbar-toggler-icon {
    background-image: url("images/logo-daniel.png");
}
/* End Landing page and navbars */

/* All of section inside of main */
main {
    font-family: 'Roboto', sans-serif;
}

main h2 {
    font-family: 'Odibee Sans', cursive;
    color: #3377cc;
}

main h5 {
    color: #5e9516;
}


.info {
    margin: 5% 0;
}

.info h1 {
    font-family: 'Dosis', sans-serif;
}


.images {
  border-radius: 50px;
}
/* End of main */

#believe-system a:hover, #contact a:hover, #project a:hover {
    text-decoration-line: none;
    font-weight: bold;
}


/*contact*/
#contact hr {
    border-color: #43bede;
}

/* end contact */

/*footer*/
footer {
    margin-top: 5%;
    padding: 20px;
    background-color: #212529;
}

/* end footer */