{% extends 'blog/layout.html' %}
{% load static %}
{% block content %}
	    <div class="row">
	        <div class="col-12">
	            <div class="jumbotron p-3 p-md-5 rounded">
	                <div class="col-12" style="background-color: rgba(0,0,0, 0.4);">
	                    <h1 class="display-4 text-white">Reading is Your Superpower</h1>
	                    <p class="lead text-light my-3">Imagine if you can choose your own superpower. Which one do you choose? Flying may be useful and invisibility is okay for being naughty.
		                        But if you have the ability to read well, you'd be the most powerful person on the earth</p>
	                    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
	                </div>
	            </div>
	        </div>
	    </div>
	        
	    <div class="row">
	        <div class="col-12">
	                <div class="p-3 mb-3 bg-light rounded">
	                <h4>About</h4>
	                <p class="mb-0"><span class="font-italic">I think, keeping a blog and journal is a great way to reflect my core values and meaning of life.</span> So, this is my Blog, please enjoy!</p>
	            </div>
	        </div>
	    </div>
			
	    </div>
    </div>
{% endblock %}
	