{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
        <title>Daniel's blog</title>
    </head>
    <body>
        <div class="container">
            <header class="sticky-top">
	            <div class="row flex-nowrap justify-content-between align-items-center bg-dark">
	                <div class="col-4 text-center">
	                    <h2 class="text-white" href="#">Daniel's blog</h2>
	                </div>
	            </div>
	            <nav class="navbar navbar-expand-lg navbar-light bg-light">
	                <a class="navbar-brand mx-auto" href="#">Categories:</a>
	                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	                    <span class="navbar-toggler-icon"></span>
	                </button>
	                
	                <div class="collapse navbar-collapse" id="navbarSupportedContent">
	                    <div class="navbar-nav mx-auto">
	                        <a class="p-2 text-muted" href="#">Technology</a>
	                        <a class="p-2 text-muted" href="#">Business</a>
	                        <a class="p-2 text-muted" href="#">Opinion</a>
	                        <a class="p-2 text-muted" href="#">Science</a>
		                    <a class="p-2 text-muted" href="#">Mathematics</a>
	                    </div>
	                </div>
	            </nav>
			</header>
			{% block content %}{% endblock %}
            <footer>
				<div class="container text-center text-white">
					© Copyright 2020 Daniel Syahputra
				</div>
			</footer>
        </div>
    </body>
		