{% extends 'story_4/layout.html' %}
{% load static %}
{% block header %}
{% include 'story_4/navbar.html' %}
{% endblock %}
{% block content %}

    <!--Landing page-->
    <section id="landing-page">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h3 class="font-italic font-weight-bold landing-page-text">Hey, I'm</h3>
                    <h1 class="font-weight-bold landing-page-text">Daniel Syahputra</h1>
                    <hr>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="font-italic text-white font-weight-light">"Anyone who stops learning is old, whether at twenty or eighty" – Henry Ford</p>
                    <a class="btn btn-secondary btn-xl " href="{% url 'story_4:index' %}#about-me">Get Started</a>
                </div>
            </div>
        </div>
    </section>

    <main>
        <div class="container">
            <!--about me-->
            <section id="about-me">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center info">
                        <h1 class="font-weight-bold">About me</h1>
                        <hr>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img class=".img-thumbnail w-50 mx-auto d-block images" src="{% static 'story_4/images/MX21.jpg' %}">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>Description</h2>
                        <p>I'm a Computer Science student at University of Indonesia. I have interests in STEM (Science, Technology, Engineer, and Mathematics). My focuses now is on all of the fields that related to Big data like Business Intelligence, Machine Learning, etc.
                        </p>
                    </div>
                </div>
            </section>

            <!--Section: Experience-->
            <section id="experiences">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center info">
                        <h1 class="font-weight-bold">My Journey</h1>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img class=".img-thumbnail w-50 mx-auto d-block images" src="{% static 'story_4/images/logo-universitas-indonesia.png' %}">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>Teaching Assistant of Calculus 1</h2>
                        <h5>Aug 2020 - Presents</h5>
                        <p>A teaching assistant, also known as a TA, handles many of the same tasks as the lecturer do. TAs may teach classes, work with students in laboratories, grade papers, and projects.</p>
                    </div>

                    <!--DDP-0-->
                    <div class="col-lg-6 col-md-6 col-sm-12 info">
                        <img class=".img-thumbnail w-50 mx-auto d-block images" src="{% static 'story_4/images/maung.png' %}">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 info">
                        <h2>Student Mentor - Foundation of Programming 0</h2>
                        <h5>Aug 2020 - Sept 2020</h5>
                        <p>Foundation of Programming 0 is an event from Fasilkom UI which held by students and followed by freshman student in Fasilkom as an introduction to programming.</p>
                    </div>


                    <!--BI Sistem-->
                    <div class="col-lg-6 col-md-6 col-sm-12 info">
                        <img class=".img-thumbnail w-50 mx-auto d-block images" src="{% static 'story_4/images/Sistem_fasilkom.jpg' %}">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 info">
                        <h2>Business Intelligence Team</h2>
                        <h5>Feb 2020 - Aug 2020</h5>
                        <p>Business Intelligence is one of SIG (Special
        Interest Group) in SISTEM Fasilkom UI which
        has an interest in using data with the objective
        to support business development. </p>

                    </div>

                    <!--Betis-->
                    <div class="col-lg-6 col-md-6 col-sm-12 info">
                        <img class=".img-thumbnail w-50 mx-auto d-block images" src="{% static 'story_4/images/betis_fasilkom.png' %}">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 info">
                        <h2>Mathematics Tutor</h2>
                        <h5>Feb 2020 - May 2020</h5>
                        <p>BETIS Fasilkom UI is a Study Guidance from Fasilkom UI that has a mission to help the student that will be graduated from Senior High School. As a mathematic tutor, I have a duty to teach my peer to prepare their exam at University especially in mathematics.</p>
                    </div>

                </div>
            </section>

            <!--Section: Education-->
            <section id="education">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center info">
                        <h1 class="font-weight-bold">Education</h1>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                            <img class=".img-thumbnail w-50 mx-auto d-block images" src="{% static 'story_4/images/logo_fasilkom.png' %}">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>University of Indonesia</h2>
                        <h5>2019 - 2023</h5>
                        <h5>Faculty of Computer Science, Information System Major</h5>
                        <p>Computer Science graduates are generally sought by companies that require the expertise of system analysts, IT managers, web developers, and software engineers.</p>
                    </div>
                </div>
            </section>

            <!-- Project -->
            <section id="project">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center info">
                        <h1 class="font-weight-bold">Project</h1>
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100  bg-light mb-3">
                            <div class="card-body text-center">
                                <h4 class="m-0">Story 1</h4>
                                <hr class="my-4" />
                                <a href="./story_1/" target="_blank">Open</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100 bg-light mb-3">
                            <div class="card-body text-center">
                                <h4 class="m-0">Cek dan Tambah Matkul</h4>
                                <hr class="my-4" />
                                <a href="http://matkul-pacil.herokuapp.com/" target="_blank">Open</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100 bg-light mb-3">
                            <div class="card-body text-center">
                                <h4 class="m-0">Buku Kegiatan</h4>
                                <hr class="my-4" />
                                <a href="https://story-daniel.herokuapp.com/" target="_blank">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--Section: Believe-system-->
            <section id="believe-system">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center info">
                        <h1 class="font-weight-bold">My Believe System</h1>
                        <hr>
                    </div>
                    <div class="col-lg-8 text-center">
                        <h4><a href="https://www.youtube.com/watch?v=JC82Il2cjqA" target="_blank">You can learn anything</a></h4>
                        <h4><a href="https://www.weforum.org/agenda/2018/01/the-secret-to-lifelong-success-is-lifelong-learning" target="_blank">Learning for a lifetime</a></h4>
                    </div>
                </div>
            </section>

            <!--Section: Feedback-->
            <section id="feedback">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center info">
                        <h1 class="font-weight-bold">Let me know if you need help</h1>
                        <hr>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Email</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Your Email">
                    </div>
                </form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Please, leave your feedback below</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </section>

        </div>
    </main>

    <!--Contact-->
    <section id="contact" class="bg-black">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center info">
                    <h1 class="font-weight-bold">Let's Get in Touch</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <img src="{% static 'story_4/images/linkedin.svg' %}" width="50px">
                            <h4 class="m-0">Linkedin</h4>
                            <hr class="my-4" />
                            <a href="https://www.linkedin.com/in/daniel-syahputra-purba-940999175/">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <img src="{% static 'story_4/images/instagram.svg' %}" width="50px">
                            <h4 class="m-0">Instagram</h4>
                            <hr class="my-4" />
                            <a href="https://www.instagram.com/danielsyahputra13/">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <img src="{% static 'story_4/images/github.svg' %}" width="50px">
                            <h4 class="m-0">Github</h4>
                            <hr class="my-4" />
                            <a href="https://github.com/danielsyahputra13">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}