{% load static %}
<!--Header section-->
<header>
    <!--Create navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <!--Navbar brand-->
            <a class="navbar-brand font-weight-bold text-white"><img src="{% static 'story_4/images/logo-daniel.png' %}" width="50px"> | Daniel Syahputra</a>

            <!--Collapse button if we shrink to smaller screen-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav ml-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'story_4:index' %}#landing-page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'story_4:index' %}#about-me">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'story_4:index' %}#experiences">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="./blog/" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'story_4:index' %}#contact">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>