{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'story_1/styles.css' %}">
    <title>Story 1 | About me</title>
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>